<%= tinymce %>
<% if @article.errors.any? %>
    <div class="alert alert-danger">
        <ul>
            <% @article.errors.full_message.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for @article do |f| %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, :class => "form-control tinymce", :rows => 10 %>
    </div>
    <div class="form-group">
        <%= f.submit "Submit", :class => "btn btn-primary" %>
    </div>
<% end %>
